[submodule "ceph-object-corpus"]
	path = ceph-object-corpus
	url = ../ceph-object-corpus.git
[submodule "src/civetweb"]
	path = src/civetweb
	url = ../civetweb
[submodule "src/erasure-code/jerasure/jerasure"]
	path = src/erasure-code/jerasure/jerasure
	url = ../jerasure.git
	branch = v2-ceph
[submodule "src/erasure-code/jerasure/gf-complete"]
	path = src/erasure-code/jerasure/gf-complete
	url = ../gf-complete.git
	branch = v3-ceph
[submodule "src/rocksdb"]
	path = src/rocksdb
	url = ../rocksdb
	ignore = dirty
[submodule "ceph-erasure-code-corpus"]
	path = ceph-erasure-code-corpus
	url = ../ceph-erasure-code-corpus.git
[submodule "src/googletest"]
	path = src/googletest
	url = ../googletest
	branch = ceph-release-1.7.x
[submodule "src/spdk"]
	path = src/spdk
	url = ../spdk.git
[submodule "src/xxHash"]
	path = src/xxHash
	url = ../xxHash.git
[submodule "src/isa-l"]
	path = src/isa-l
	url = ../isa-l
[submodule "src/lua"]
	path = src/lua
	url = ../lua.git
	branch = lua-5.3-ceph
	ignore = dirty
[submodule "src/dpdk"]
	path = src/dpdk
	url = ../dpdk
[submodule "src/zstd"]
	path = src/zstd
	url = ../zstd
[submodule "src/crypto/isa-l/isa-l_crypto"]
	path = src/crypto/isa-l/isa-l_crypto
	url = ../isa-l_crypto
[submodule "src/blkin"]
	path = src/blkin
	url = ../blkin
[submodule "src/rapidjson"]
	path = src/rapidjson
	url = ../rapidjson
