[Unit]
Description=Ceph REST API daemon
After=network.target

PartOf=ceph.target

[Service]
ExecStart=/usr/bin/ceph-rest-api
ExecReload=/bin/kill -HUP $MAINPID
PrivateDevices=yes
ProtectHome=true
ProtectSystem=full
PrivateTmp=true
Restart=on-failure
StartLimitInterval=30min
StartLimitBurst=5
RestartSec=10

[Install]
WantedBy=multi-user.target
WantedBy=ceph.target
